<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" routerlink="/">
        <mat-icon>menu_book</mat-icon>
    </button>
    <span>QUESTIONÁRIO</span>

    <span class="example-spacer"></span>
    <button mat-icon-button [routerLink]="'/login'" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" style="margin: 10px;">
        Login
    </button>
    <button mat-icon-button [routerLink]="'/signup'" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
        style="margin: 10px;">
        Register
    </button>
</mat-toolbar>