<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" routerlink="/">
        <mat-icon>menu_book</mat-icon>
    </button>
    <span>QUESTIONÁRIO</span>

    <span class="example-spacer"></span>

    <div *ngIf="!autenticadorService.isLoginAtivo()">
        <button mat-icon-button [routerLink]="'/login'" class="example-icon favorite-icon" style="margin: 10px;">
            Login
        </button>
        <button mat-icon-button [routerLink]="'/signup'" class="example-icon favorite-icon" style="margin: 10px;">
            Register
        </button>
    </div>

    <button *ngIf="autenticadorService.isLoginAtivo()" mat-button routerLink="/administrador/profile" aria-label="Example ion-button with heart icon"> {{autenticadorService.recuperarUsuarioLogado().username | uppercase}} </button>

    <div *ngIf="autenticadorService.isLoginAtivo()">
        <button mat-icon-button (click)="logout()" class="example-icon favorite-icon" style="margin: 10px;">
            Logout
        </button>
    </div>

</mat-toolbar>